
<!DOCTYPE html>
<html lang="en" ng-app="lStore" class="no-js">
  <head>
    <base href="/test/angular/seed/app/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LStore | AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">LStore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" data-contr="{{$route.current.scope.name}}">
            <div class="input-group">
              <input type="text" name="q" ng-model="q" class="form-control" placeholder="Search for books">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->

            <select class="form-control" ng-model="sort_by" name="sort_by">
              <option value="">Sort by</option>
              <option value="name">Title</option>
              <option value="terms.author.name">Author</option>
              <option value="terms.genre.name">Genre</option>
              <option value="meta.price">Price</option>
              <option value="created_at">Published Date</option>
            </select>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="update" title="Add Book">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="glyphicon glyphicon-book"></span>
            </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container container-wr">
      <!-- Messages -->
      <div ng-show="messages" class="alert alert-{{messageType}} alert-dismissible ng-hide" role="alert">
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <p ng-repeat="mes in messages">{{mes}}</p>
      </div>

      <div ng-view></div>

      <div class="footer">Laravel Stroe: v<span app-version></span></div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bower_components/bootstrap/js/bootstrap.min.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <script src="assets/js/jspdf/dist/jspdf.min.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
