

  <!-- Main component for a primary marketing message or call to action -->
<div>
  <div class="jumbotron">
    <h1>{{book.name}}</h1>

    <ul class="list-inline">
	  <li ng-show="book.terms.author">Author: <strong>{{book.terms.author.name}}</strong></li>
	  <li ng-show="book.terms.genre">Genre: <strong>{{book.terms.genre.name}}</strong></li>
	</ul>

	<div class="btn-group" role="group" aria-label="...">
	  <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{book.name}}" socialshare-hashtags="lstore, book" socialshare-url="{{location.absUrl()}}" role="button" class="btn btn-default" title="Share">
	  	<span class="glyphicon glyphicon-share"></span>
	  </a>
	  <a href="#" ng-click="pdf()" role="button" type="button" class="btn btn-default" title="View as PDF">
	  	<span class="glyphicon glyphicon-print"></span>
	  </a>
	  <a href="update/{{book.id}}" role="button" type="button" class="btn btn-default" title="Edit">
	  	<span class="glyphicon glyphicon-edit"></span>
	  </a>
	</div>

    <p>{{book.description}}</p>

    <dl>
	  <dt>Published on:</dt>
	  <dd >{{book.created_at}}</dd>
	  <dt ng-show="book.meta.price">Price:</dt>
	  <dd ng-show="book.meta.price">{{book.meta.price}}</dd>
	</dl>

	<a href="index.html" role="button" class="btn btn-default" title="Share">Back to list</a>

  </div>
</div>

