

  <!-- Main component for a primary marketing message or call to action -->
<div>
  <div class="well" ng-repeat="book in books | orderBy:sort_by | filter:q as results">
    <h3><span class="glyphicon glyphicon-book"></span>  {{book.name}}</h3>

    <ul class="list-inline">
	  <li ng-show="book.terms.author">Author: <strong>{{book.terms.author.name}}</strong></li>
	  <li ng-show="book.terms.genre">Genre: <strong>{{book.terms.genre.name}}</strong></li>
	</ul>

    <p>{{book.description}}</p>

    <dl>
	  <dt>Published on:</dt>
	  <dd >{{book.created_at}}</dd>
	  <dt ng-show="book.meta.price">Price:</dt>
	  <dd ng-show="book.meta.price">{{book.meta.price}}</dd>
	</dl>

    <p>
      <a class="btn btn-lg btn-primary" href="detail/{{book.id}}" role="button">Read more</a>
    </p>
  </div>
  <div class="well" ng-if="results.length == 0">
  	<h3>No books found</h3>
  </div>
</div>

