<h3>{{action}} Book</h3>
<div>
	<form name="form" class="css-form" ng-submit="update(form.$valid, book)" novalidate>
	  <div class="form-group">
	    <label>Name</label>
	    <input type="text" ng-model="book.name" name="name" class="form-control" required />
	    <div ng-show="form.$submitted || form.name.$touched">
	      <div ng-show="form.name.$error.required">Required</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Description</label>
	    <textarea ng-model="book.description" name="description" class="form-control" required></textarea>
	    <div ng-show="form.$submitted || form.description.$touched">
	      <div ng-show="form.name.$error.required">Required</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Author</label>
	    <select ng-model="book.terms.author" name="author" class="form-control" required>
	    	<option value="">Select</option>
	    	<option ng-repeat="author in authors" ng-selected="book.terms.author.id" value="{{author.id}}">{{author.name}}</option>
	    </select>
	    <div ng-show="form.$submitted || form.author.$touched">
	      <div ng-show="form.author.$error.required">Required</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Genre</label>
	    <select ng-model="book.terms.genre" name="genre" class="form-control" required>
	    	<option value="">Select</option>
	    	<option ng-repeat="genre in genres" ng-selected="book.terms.genre.id" value="{{genre.id}}">{{genre.name}}</option>
	    </select>
	    <div ng-show="form.$submitted || form.genre.$touched">
	      <div ng-show="form.genre.$error.required">Required</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label>Price</label>
	    <div class="input-group">
	      <div class="input-group-addon">$</div>
	      <input type="number" ng-model="book.meta.price" name="price" required class="form-control">
	    </div>
	    <div ng-show="form.$submitted || form.price.$touched">
	      <div ng-show="form.price.$error.required">Required</div>
	    </div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary" >Submit</button>
	  <a href="index.html" class="btn btn-default">Cancel</a>
	</form>
</div>